<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
    <style type="text/css">
    *{
        box-sizing: border-box;
        position: relative;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    .wrapper{
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    .welcome{
        margin-top: 50px;
        width: 100%;
        height: 60px;
        background-color: cadetblue;
        color: #fff;
        font-size: 30px;
        line-height: 60px;
    }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="welcome">歡迎光臨，這是會員頁</div>
        <p>恭喜您，成功登入系統</p> 
        <a href="/signout">登出系統</a>
    </div>
</body>
</html>